 <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/StaffIndex/" aria-expanded="false">
                    <i class="icon-person menu-icon"></i><span class="nav-text">Personel İşlemleri</span>
                </a>
            </li>

            <li>
                <a href="/Testimonial/TestimonialIndex/" aria-expanded="false">
                    <i class="icon-person menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Room/RoomIndex/" aria-expanded="false">
                    <i class="icon-person menu-icon"></i><span class="nav-text">Oda İşlemleri</span>
                </a>
            </li>

            <li>
                <a href="/Service/ServiceIndex/" aria-expanded="false">
                    <i class="icon-person menu-icon"></i><span class="nav-text">Servis İşlemleri</span>
                </a>
            </li>

            <li>
                <a href="/Subscribe/SubscribeIndex/" aria-expanded="false">
                    <i class="icon-person menu-icon"></i><span class="nav-text">Üye İşlemleri</span>
                </a>
            </li>

            <li>
                <a href="/BookingAdmin/BookingAdminIndex/" aria-expanded="false">
                    <i class="icon-person menu-icon"></i><span class="nav-text">Rezervasyon İşlemleri</span>
                </a>
            </li>
                </ul>
            </div>
        </div>