@model List<ResultServiceDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

@if (Model != null && Model.Any())
{
    <table class="table table-bordered">
        <tr>
            <td>#</td>
            <td>Hizmet Başlığı</td>
            <td>Sil</td>
            <td>Güncelle</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ServiceId</td>
                <td>@item.Title</td>
                <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-primary">Güncelle</a></td>
                <td><a href="#" class="btn btn-dark">Detaylar</a></td>
            </tr>
        }
    </table>
}
else
{
    <p>Henüz eklenmiş bir hizmet bulunmamaktadır.</p>
}

<a href="/Service/AddService" class="btn btn-success">Yeni Hizmet Ekle</a>
