@model List<ResultStaffDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Personel Adı</td>
        <td>Personel Ünvan</td>
        <td>Sil</td>
        <td>Güncelle</td>
        <td>Detaylar</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.StaffID</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="/Staff/DeleteStaff/@item.StaffID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Staff/UpdateStaff/@item.StaffID">Güncelle</a></td>
            <td><a href="#" class="btn btn-dark">Detaylar</a></td>
        </tr>
    }

</table>
<a href="/Staff/AddStaff"><button class="btn btn-succes">Yeni Personel Ekle</button></a>

